<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5 post">
                    <div class="flex-grow-1">
                        <div class="subheading mb-3 name" id="name_m3"></div>
                        <p class="message" id="message_m3"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-outline-primary text-uppercase mb-1" onclick="editPostModal();" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button><br><br>
                <button class="btn btn-outline-primary text-uppercase" onclick="deletePostModal();" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal2">Delete</button>
            </div>
        </div>
    </div>
</div>